body{
	display: flex;
	margin-bottom: 0;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Source Sans Pro', sans-serif;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main > *, header, footer{
	margin: 4px;
	padding: 5px;
	border-radius: 7px;
}

main{ 
	display: flex;
	flex-basis: auto;
}

article{
	flex-basis: 45%;
	background: #ecf0f1;
	flex-grow: 4;
}
.sideNav{
	flex-basis: 15%;
	border: 2px solid #95a5a6;
	background: white;
	order: -1;
	flex-grow: 1;
	max-height: 200px;
	margin-top: 50px;
}

.sideNav ul{
	list-style-type: none;
	padding-left: 10px;

}
.sideNav .navLinks{
	font-size: 20px;
	text-decoration: none;
	color: black;
}

.sideNav h4{
    margin: 30px auto;
    color: #2c3e50;
    font-size: 25px;
    text-decoration: underline;
}

aside{
	flex-basis: 40%;
	background: white;
	/* border: 2px solid #95a5a6; */
	flex-grow: 1;	
	padding-bottom: 20px;
	max-height: auto;
	margin-top: 50px;
}

header, footer{
	background: #008CBA;
	flex-basis: 50px;
}

@media all and (max-width: 600px){
	main {
		flex-direction: column;
		flex-grow: 1;
	}

	.sideNav {
		order: 0;
	}
}

/*page Navigation*/
.headerNav{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

label a {
	font-size: 38px;
	margin:20px; 
	text-decoration: none;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	padding-right: 5px; 
	transition: color 0.5s ease-out;
}

label a:hover{
	color: black;
}


.headerNav a {
	font-size: 25px;
	margin:20px; 
	text-decoration: none;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	padding-right: 5px; 
	transition: color 0.5s ease-out;
}

.headerNav a:hover{
	color: black;
	border-bottom-color: black;
}


i{
	margin-right: 10px;
}

@media screen and (max-width: 800px){
	.headerNav{
		justify-content: center;
	}
	.headerNav a{
		font-size: 18px;
	}
	label a {
		font-size: 20px;
	}
}

@media screen and (max-width: 600px){
	.headerNav{
		flex-direction: column;
		justify-content: flex-end;
	}
	
	.headerNav a{
		font-size: 18px;
	}
	label a {
		font-size: 20px;
	}
}

/*Questions Section*/

h1{
	color: #2c3e50;
	font-size: 2.0rem;
	text-align: center;
	margin: 25px; 
	padding-left: 20px;
	text-decoration: underline; 
}

h4{
	margin: 10px auto;
	color: #2c3e50; 
}

#form{
	border: 1px solid #bdc3c7;
	border-radius: 5px;
	padding: 20px;
	margin: auto auto;
	width: 60%;
}

#txtBox{
	border:	1px solid #e4e6e8;
	width: 94%;
	line-height: 1.3;
	font-size: 100%;
	padding: 8px;
	margin-bottom: 10px;
	height: 18px;
}
#txtArea{
	border: 1px solid #e4e6e8;
	width: 94%;
	line-height: 1.3;
	font-size: 100%;
	padding: 8px;
	margin-bottom: 10px;
}

.button {
	background-color: #008CBA; 
	border: none;
	color: white;
	padding: 10px 18px;
	text-align: center;
	font-size: 14px;
}

	/*Footer Styling*/
.footer-dark{
	background-color: #008CBA;
	color: white;
}
#copyright{
	font-size: 20px;
	display: flex;
	justify-content: center;
}

#question { 
	display: flex;
	flex-basis: 480px;
	align-items: left;
}

div .tags{
	text-align: right;
}

.tags span {
    margin: 3px;
    padding: 1px 6px 1px 6px;
    border: 0.5px solid grey;
    border-radius: 4px;
    font-size: smaller;
}

#two{
	flex-basis: 55%;
	flex-grow: 4;
}

#three{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-basis: 30%;
    flex-grow: 1;
    text-align: right;
    margin-top: 10px;
}

#answer{
    padding: 1px 6px 1px 6px;
    border: 0.5px solid grey;
    border-radius: 4px;
    font-size: smaller;
    background: #008CBA;
    color: white;
}

#answerTab{
	text-decoration: none;
}